.body {
  font-family: "Popins", "Open Sana";
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0 100px;
}

.navbar {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
  text-decoration-color: #fff;
}

.nav-item:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.name {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: #343434;
  margin: 0;
}

.title {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #343434;
}

.profile {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  background-size: cover;
}

.intro {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 150px;
}

.btn {
  border-radius: 25px;
  padding: 12px 15px;
  border: 2px solid #110f0f;
}

.a {
  transition: all 300ms ease;
}

.btn-primary {
  background: #110f0f;
  color: #fff;
}

.btn-outline {
  background: #fff;
  color: #110f0f;
}

.info {
  text-align: center;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icons i {
  font-size: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
